<div class="banner">
    <div style="width:100%;height:100%" class="banner-cycle" data-cycle-fx="scrollHorz" data-cycle-timeout="4000" data-cycle-slides="> div" data-cycle-pager=".pager" data-cycle-pager-template="" data-cycle-pause-on-hover="false">
        <div class="banner-img cycle-slide" style="background: url('@Url.Content("~/Content/images/slider_12a.jpg")') no-repeat center top;">
            <a href="javascript:;" onclick="" onfocus="blur();"></a>
        </div>
        <div class="banner-img cycle-slide" style="background: url('@Url.Content("~/Content/images/slider-21a.jpg")') no-repeat center top;">
            <a href="javascript:;" onfocus="blur();"></a>
        </div>
        <div class="banner-img cycle-slide" style="background: url('@Url.Content("~/Content/images/slider-6a.jpg")') no-repeat center top;">
            <a href="javascript:;" onfocus="blur();"></a>
        </div>
        <div class="banner-img cycle-slide" style="background: url('@Url.Content("~/Content/images/slider-9.jpg")') no-repeat center top;">
            <a href="javascript:;" onfocus="blur();"></a>
        </div>
        <div class="banner-img cycle-slide" style="background: url('@Url.Content("~/Content/images/slider-2a.jpg")') no-repeat center top;">
            <a href="javascript:;" onfocus="blur();"></a>
        </div>        
    </div>

    <div class="banner-info">
        <div class="content">
            
            <div class="pager">
                <span><i></i></span>
                <span><i></i></span>
                <span><i></i></span>
                <span><i></i></span>
                <span><i></i></span>
            </div>

        </div>
    </div>

</div>