<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
<head>
    <!-- Site Title-->
    <title>@ViewBag.Title</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <link rel="icon" href="~/Content/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CRoboto:300,400italic,400,500">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/site-styles.css">
    <link rel="stylesheet" href="~/Content/css/loadingmodal.css">
    @RenderSection("AdditionalHeaderScripts", false)
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
        <![endif]-->
</head>
<body background="~/Content/images/background.jpg">
    @Html.Hidden("Login", @Url.Action("login", "Account"))
    @Html.Hidden("lobby", @Url.Action("lobby", "home"))
    @Html.Hidden("APIURL", @System.Configuration.ConfigurationManager.AppSettings["APIUrl"])
    <!-- Page-->
    <div>
        <!-- Page Header-->
        <header class="page-head undefined">
            <div class="container">
                <div class="block-banner"><a href="~/"><span></span><img src="/Content/images/index-1new.jpg" alt="" width="728" height="90"></a></div>
                @*<div class="rd-navbar-brand"><a href="~/" class="brand-name"><span class="text-bold">win</span><span>big</span><span>today!</span><span class="brand-slogan"></span></a></div>
                <div class="block-banner pull-right"><a href="~/"><span></span><img src="/Content/images/index-1new.jpg" alt="" width="728" height="90"></a></div>*@
                @Html.Partial("menu")
            </div>

        </header>
        <!-- Page Content-->
        <main class="page-content">
            <section></section>
            <section class="section-bottom-30">
                @RenderBody()
            </section>
        </main>
        <!-- Page Footer-->
        <footer class="page-foot section-top-38">
            <div class="container">
                <div class="row clearleft-custom">
                    <div class="col-xs-6 col-sm-6 col-md-2">
                        <h4>categories</h4>
                        <ul class="list-variant-1">
                            @*
                            <li><a href="~/games/winningnumbers">winning numbers</a></li>*@
                            <li><a href="~/home/contact">contact us</a></li>
                            <li class="logout" style="display:none;"><a href="#" onclick="unloadUser();">Logout</a></li>
                            <!-- <li class="login" style="display:none;"><a href="~/account/register">register</a></li>-->
                            <li class="login" style="display:none;"><a href="~/account/login">login</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-2">
                        <h4>games</h4>
                        <ul class="list-variant-1 games-dropdown">
                            <li><a href="@Url.Action(" Casino", "Games" )">casino</a></li>
                            @*
                            <li><a href="~/games/lotto">lottery</a></li>*@
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <h4>tags</h4>
                        <div class="tag-group">
                            <a href="@Url.Action(" Casino", "Games" )" class="tag">casino</a>
                            @*<a href="#" class="tag">lotto</a>
                            <a href="#" class="tag">win</a>
                            <a href="#" class="tag">jackpot</a>
                            <a href="#" class="tag">winner</a>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <h4>follow us</h4>
                        <h5>See our Latest Promos</h5>
                        <p>Be up-to-date with our newest promotions via Facebook, Twitter & more!</p>
                        <ul class="list-inline-variant-1">
                            <li><a href="#" class="fa-facebook"></a></li>
                            <li><a href="#" class="fa-twitter"></a></li>
                            <li><a href="#" class="fa-google-plus"></a></li>
                            <li><a href="#" class="fa-youtube"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="copyright border">
                    <div class="rd-navbar-brand">
                        <a href="~/" class="brand-name"><span class="text-bold">T&D</span><span>entertainment</span></a>
                        <p>&#169; &nbsp;<span id="copyright-year"></span> t&d entertainment 2017. All Rights Reserved</p>
                    </div>
                </div>
        </footer>

        <div class="modal fade loading-dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <p><span class="loading spinning glyphicon glyphicon-refresh dialog-icon"></span></p>
                        <span class="loading-text"></span>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <div class="modal fade message-dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <span class="message-text"></span>
                        <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

    </div>
    <!-- Java script-->
    <script src="~/Scripts/js/core.min.js"></script>
    <script src="~/Scripts/js/jstorage.js"></script>
    <script src="~/Scripts/js/lottery.js"></script>
    <script src="~/Scripts/js/wallet.js"></script>
    <script src="~/Scripts/js/globals.js"></script>
    <script src="~/Scripts/js/script.js"></script>
    @RenderSection("AdditionalFooterScripts", false)
</body>
</html>