@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_KioskLayout.cshtml";
}

<!-- Page Content-->
<main class="page-content">
    @Html.Hidden("Login", @Url.Action("login", "Account"))
    @Html.Hidden("lobby", @Url.Action("lobby", "home"))
    @Html.Hidden("APIURL", @System.Configuration.ConfigurationManager.AppSettings["APIUrl"])
    <!--Section Swiper-->
    <section class="section-50">
        <div class="container">
            <!-- Swiper-->
            <div data-height="" data-min-height="300px" class="swiper-container swiper-slider border-crusta">
                <div class="swiper-wrapper">
                    <div data-slide-bg="/Content/images/slider-9.jpg" class="swiper-slide">
                        <div class="swiper-slide-caption">
                            <div class="jubotron-variant-1">
                                <div class="post-meta">
                                </div>
                                <h2><a href="~/"></a></h2>
                            </div>
                        </div>
                    </div>
                    <div data-slide-bg="/Content/images/slider-6a.jpg" class="swiper-slide">
                        <div class="swiper-slide-caption">
                            <div class="jubotron-variant-1">
                            </div>
                        </div>
                    </div>
                    <div data-slide-bg="/Content/images/slider-21a.jpg" class="swiper-slide">
                        <div class="swiper-slide-caption">
                            <div class="jubotron-variant-1">
                            </div>
                        </div>
                    </div>
                    <div data-slide-bg="/Content/images/slider_12a.jpg" class="swiper-slide">
                        <div class="swiper-slide-caption">
                            <div class="jubotron-variant-1">
                                <div class="post-meta">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div data-slide-bg="/Content/images/slider-1.jpg" class="swiper-slide">
                         <div class="swiper-slide-caption">
                             <div class="jubotron-variant-1">

                             </div>
                         </div>
                     </div>-->
                    <div data-slide-bg="/Content/images/slider-2a.jpg" class="swiper-slide">
                        <div class="swiper-slide-caption">
                            <div class="jubotron-variant-1">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Swiper Pagination-->
                <div class="swiper-pagination"></div>
                <!-- Swiper Navigation-->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </section>

    <!--Section Top News-->
    <section class="section-bottom-50">
        <div class="container">
            <h4>top lottery houses</h4>
            <div class="row border-tultip row-no-gutter">
                <div class="col-xs-12 col-lg-6">
                    <div class="blog-post">
                        <img src="/Content/images/index-2a.jpg" alt="" class="img-width-auto" /><a href="@Url.Action("Lotto", "Kiosk")" class="tag bg-crusta">play</a>
                        <div class="post-body">
                            <div class="post-title"><a href="@Url.Action("Lotto", "Kiosk")" class="h3"></a></div>
                            <div class="post-meta clearfix">
                                <p>
                                    <time datetime="2016"><a href="@Url.Action("Lotto", "Kiosk")">New York Lottery</a></time>
                                </p>
                                <div class="post-share">
                                    <span class="icon icon-primary material-icons-share icon-sm icon-share"></span>
                                    <ul class="list-share">
                                        <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.luckyindiangameroom.com" target="_blank" class="fa-facebook"></a></li>
                                        <li><a href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.luckyindiangameroom.com" target="_blank" class="fa-twitter"></a></li>
                                        <li><a href="https://plus.google.com/share?url=http://www.luckyindiangameroom.com" target="_blank" class="fa-google-plus"></a></li>
                                        <li><a href="index.html" class="fa-youtube"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <div class="blog-posts-width-50">
                        <div class="post-50">
                            <div class="blog-post">
                                <img src="/Content/images/index-3a.jpg" alt="" class="img-width-auto" /><a href="@Url.Action("Lotto", "Kiosk")" class="tag bg-green">play</a>
                                <div class="post-body">
                                    <div class="post-title"><a href="@Url.Action("Lotto", "Kiosk")" class="h5"></a></div>
                                    <div class="post-meta clearfix">
                                        <p>
                                            <time datetime="2016"><a href="@Url.Action("Lotto", "Kiosk")">Play Florida Lottery</a></time>
                                        </p>
                                        <div class="post-share">
                                            <span class="icon icon-primary material-icons-share icon-sm icon-share"></span>
                                            <ul class="list-share">
                                                <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.luckyindiangameroom.com" target="_blank" class="fa-facebook"></a></li>
                                                <li><a href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.luckyindiangameroom.com" target="_blank" class="fa-twitter"></a></li>
                                                <li><a href="https://plus.google.com/share?url=http://www.luckyindiangameroom.com" target="_blank" class="fa-google-plus"></a></li>
                                                <li><a href="index.html" class="fa-youtube"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-50">
                            <div class="blog-post">
                                <img src="/Content/images/index-4a.jpg" alt="" class="img-width-auto" /><a href="@Url.Action("Lotto", "Kiosk")" class="tag bg-mandy">play</a>
                                <div class="post-body">
                                    <div class="post-title"><a href="@Url.Action("Lotto", "Kiosk")" class="h5"></a></div>
                                    <div class="post-meta clearfix">
                                        <p>
                                            <time datetime="2016"><a href="@Url.Action("Lotto", "Kiosk")">Play Georgia Lottery</a></time>
                                        </p>
                                        <div class="post-share">
                                            <span class="icon icon-primary material-icons-share icon-sm icon-share"></span>
                                            <ul class="list-share">
                                                <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.luckyindiangameroom.com" target="_blank" class="fa-facebook"></a></li>
                                                <li><a href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.luckyindiangameroom.com" target="_blank" class="fa-twitter"></a></li>
                                                <li><a href="https://plus.google.com/share?url=http://www.luckyindiangameroom.com" target="_blank" class="fa-google-plus"></a></li>
                                                <li><a href="index.html" class="fa-youtube"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-50">
                            <div class="blog-post">
                                <img src="/Content/images/index-5a.jpg" alt="" class="img-width-auto" /><a href="@Url.Action("Lotto", "Kiosk")" class="tag bg-primary">play</a>
                                <div class="post-body">
                                    <div class="post-title"><a href="@Url.Action("Lotto", "Kiosk")" class="h5"></a></div>
                                    <div class="post-meta clearfix">
                                        <p>
                                            <time datetime="2016"><a href="@Url.Action("Lotto", "Kiosk")">Play Colorado Lottery</a></time>
                                        </p>
                                        <div class="post-share">
                                            <span class="icon icon-primary material-icons-share icon-sm icon-share"></span>
                                            <ul class="list-share">
                                                <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.luckyindiangameroom.com" target="_blank" class="fa-facebook"></a></li>
                                                <li><a href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.luckyindiangameroom.com" target="_blank" class="fa-twitter"></a></li>
                                                <li><a href="https://plus.google.com/share?url=http://www.luckyindiangameroom.com" target="_blank" class="fa-google-plus"></a></li>
                                                <li><a href="index.html" class="fa-youtube"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-50">
                            <div class="blog-post">
                                <img src="/Content/images/index-6a.jpg" alt="" class="img-width-auto" /><a href="@Url.Action("Lotto", "Kiosk")" class="tag bg-mandy">play</a>
                                <div class="post-body">
                                    <div class="post-title"><a href="@Url.Action("Lotto", "Kiosk")" class="h5"></a></div>
                                    <div class="post-meta clearfix">
                                        <p>
                                            <time datetime="2016"><a href="@Url.Action("Lotto", "Kiosk")">Play California Lottery</a></time>
                                        </p>
                                        <div class="post-share">
                                            <span class="icon icon-primary material-icons-share icon-sm icon-share"></span>
                                            <ul class="list-share">
                                                <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.luckyindiangameroom.com" target="_blank" class="fa-facebook"></a></li>
                                                <li><a href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.luckyindiangameroom.com" target="_blank" class="fa-twitter"></a></li>
                                                <li><a href="https://plus.google.com/share?url=http://www.luckyindiangameroom.com" target="_blank" class="fa-google-plus"></a></li>
                                                <li><a href="index.html" class="fa-youtube"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section Main Content-->
    <section class="section-bottom-50">
        <div class="container">
            <div class="row">
                <!--Section Main-->
                <div class="col-xs-12 col-lg-8">
                    <!--Section Featured News-->
                    <section class="section-bottom-50">
                        <h4 class="block-inline">featured games</h4>
                        <div class="btn-group-isotope clearfix">
                            <button data-isotope-filter="breaking-news" data-isotope-group="gallery" class="active">newest games</button>
                            <button data-isotope-filter="soccer" data-isotope-group="gallery"> top played</button>
                            <button data-isotope-filter="basketball" data-isotope-group="gallery"> player's choice</button>
                            <button data-isotope-filter="baseball" data-isotope-group="gallery"> action games</button>


                        </div>
                        <!--Isotope-->
                        <div data-isotope-layout="fitRows" data-isotope-group="gallery" class="row row-no-gutter isotope border-green">
                            <div data-filter="breaking-news" class="col-xs-12 col-sm-6">
                                <div class="blog-post blog-post-variant-2">
                                    <img src="/Content/images/8a.jpg" alt="" /><a href="https://wallet.luckyindiangameroom.com/games/launch/greedyservants" target="_blank" class="tag bg-mandy">play</a>
                                    <div class="post-body">
                                        <div class="post-title"><a href="https://wallet.luckyindiangameroom.com/games/launch/greedyservants" target="_blank" class="h5"></a></div>
                                        <div class="post-meta clearfix">
                                            <p>
                                                <span>Greedy Servants</span>
                                                <time datetime="2016"><a href="http://www.spinomenal.com/Play?token=SlotMachine_GreedyServants&langCode=en_US&isDemo=False&HomeUrl=http://www.luckyindiangameroom.com" target="_blank">Practice</a></time>
                                            </p>
                                            <div class="post-share">
                                                <span class="icon icon-primary material-icons-share icon-sm icon-share"></span>
                                                <ul class="list-share">
                                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.luckyindiangameroom.com" target="_blank" class="fa-facebook"></a></li>
                                                    <li><a href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.luckyindiangameroom.com" target="_blank" class="fa-twitter"></a></li>
                                                    <li><a href="https://plus.google.com/share?url=http://www.luckyindiangameroom.com" target="_blank" class="fa-google-plus"></a></li>
                                                    <li><a href="index.html" class="fa-youtube"></a></li>
                                                </ul>
                                            </div>
                                        </div><a href="https://wallet.luckyindiangameroom.com/games/launch/greedyservants" target="_blank" class="btn btn-sm btn-transparent">Spin Now</a>
                                    </div>
                                </div>
                            </div>
                            <div data-filter="breaking-news" class="col-xs-12 col-sm-6">
                                <div class="blog-post blog-post-variant-2">
                                    <img src="/Content/images/7a.jpg" alt="" /><a href="https://wallet.luckyindiangameroom.com/games/launch/precioustreasures" target="_blank" class="tag bg-mandy">play</a>
                                    <div class="post-body">
                                        <div class="post-title"><a href="https://wallet.luckyindiangameroom.com/games/launch/precioustreasures" target="_blank" class="h5"></a></div>
                                        <div class="post-meta clearfix">
                                            <p>
                                                <span>Precious Treasures</span>
                                                <time datetime="2016"><a href="http://www.spinomenal.com/Play?token=SlotMachine_PreciousTreasures&langCode=en_US&isDemo=False&HomeUrl=http://www.luckyindiangameroom.com" target="_blank">Practice</a></time>
                                            </p>
                                            <div class="post-share">
                                                <span class="icon icon-primary material-icons-share icon-sm icon-share"></span>
                                                <ul class="list-share">
                                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.luckyindiangameroom.com" target="_blank" class="fa-facebook"></a></li>
                                                    <li><a href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.luckyindiangameroom.com" target="_blank" class="fa-twitter"></a></li>
                                                    <li><a href="https://plus.google.com/share?url=http://www.luckyindiangameroom.com" target="_blank" class="fa-google-plus"></a></li>
                                                    <li><a href="index.html" class="fa-youtube"></a></li>
                                                </ul>
                                            </div>
                                        </div><a href="https://wallet.luckyindiangameroom.com/games/launch/precioustreasures" target="_blank" class="btn btn-sm btn-transparent">Spin Now</a>
                                    </div>
                                </div>
                            </div>
                            <div data-filter="breaking-news" class="col-xs-12 col-sm-6">
                                <div class="blog-post blog-post-variant-2">
                                    <img src="/Content/images/60a.jpg" alt="" /><a href="https://wallet.luckyindiangameroom.com/games/launch/8luckycharms" target="_blank" class="tag bg-mandy">play</a>
                                    <div class="post-body">
                                        <div class="post-title"><a href="https://wallet.luckyindiangameroom.com/games/launch/8luckycharms" target="_blank" class="h5"></a></div>
                                        <div class="post-meta clearfix">
                                            <p>
                                                <span>8 Lucky Charms</span>
                                                <time datetime="2016"><a href="http://www.spinomenal.com/Play?token=SlotMachine_8lUCKYcHARMS&langCode=en_US&isDemo=False&HomeUrl=http://www.luckyindiangameroom.com" target="_blank">Practice</a></time>
                                            </p>
                                            <div class="post-share">
                                                <span class="icon icon-primary material-icons-share icon-sm icon-share"></span>
                                                <ul class="list-share">
                                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.luckyindiangameroom.com" target="_blank" class="fa-facebook"></a></li>
                                                    <li><a href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.luckyindiangameroom.com" target="_blank" class="fa-twitter"></a></li>
                                                    <li><a href="https://plus.google.com/share?url=http://www.luckyindiangameroom.com" target="_blank" class="fa-google-plus"></a></li>
                                                    <li><a href="index.html" class="fa-youtube"></a></li>
                                                </ul>
                                            </div>
                                        </div><a href="https://wallet.luckyindiangameroom.com/games/launch/8luckycharms" target="_blank" class="btn btn-sm btn-transparent">Spin Now</a>
                                    </div>
                                </div>
                            </div>
                            <div data-filter="breaking-news" class="col-xs-12 col-sm-6">
                                <div class="blog-post blog-post-variant-2">
                                    <img src="/Content/images/61a.jpg" alt="" /><a href="https://wallet.luckyindiangameroom.com/games/launch/fortunekeepers" target="_blank" class="tag bg-mandy">play</a>
                                    <div class="post-body">
                                        <div class="post-title"><a href="https://wallet.luckyindiangameroom.com/games/launch/fortunekeepers" target="_blank" class="h5"></a></div>
                                        <div class="post-meta clearfix">
                                            <p>
                                                <span>Fortune Keepers</span>
                                                <time datetime="2016"><a href="http://www.spinomenal.com/Play?token=SlotMachine_FortuneKeepers&langCode=en_US&isDemo=False&HomeUrl=http://www.luckyindiangameroom.com" target="_blank">Practice</a></time>
                                            </p>
                                            <div class="post-share">
                                                <span class="icon icon-primary material-icons-share icon-sm icon-share"></span>
                                                <ul class="list-share">
                                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.luckyindiangameroom.com" target="_blank" class="fa-facebook"></a></li>
                                                    <li><a href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.luckyindiangameroom.com" target="_blank" class="fa-twitter"></a></li>
                                                    <li><a href="https://plus.google.com/share?url=http://www.luckyindiangameroom.com" target="_blank" class="fa-google-plus"></a></li>
                                                    <li><a href="index.html" class="fa-youtube"></a></li>
                                                </ul>
                                            </div>
                                        </div><a href="https://wallet.luckyindiangameroom.com/games/launch/fortunekeepers" target="_blank" class="btn btn-sm btn-transparent">Spin Now</a>
                                    </div>
                                </div>
                            </div>
                            <div data-filter="soccer" class="col-xs-12 col-sm-6">
                                <div class="blog-post blog-post-variant-2">
                                    <img src="/Content/images/21a.jpg" alt="" /><a href="https://wallet.luckyindiangameroom.com/games/launch/terracotawilds" target="_blank" class="tag bg-mandy">play</a>
                                    <div class="post-body">
                                        <div class="post-title"><a href="https://wallet.luckyindiangameroom.com/games/launch/terracotawilds" target="_blank" class="h5"></a></div>
                                        <div class="post-meta clearfix">
                                            <p>
                                                <span>Terracotta Wilds</span>
                                                <time datetime="2016"><a href="http://www.spinomenal.com/Play?token=SlotMachine_Terracotta Wilds&langCode=en_US&isDemo=False&HomeUrl=http://www.luckyindiangameroom.com" target="_blank">Practice</a></time>
                                            </p>
                                            <div class="post-share">
                                                <span class="icon icon-primary material-icons-share icon-sm icon-share"></span>
                                                <ul class="list-share">
                                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.luckyindiangameroom.com" target="_blank" class="fa-facebook"></a></li>
                                                    <li><a href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.luckyindiangameroom.com" target="_blank" class="fa-twitter"></a></li>
                                                    <li><a href="https://plus.google.com/share?url=http://www.luckyindiangameroom.com" target="_blank" class="fa-google-plus"></a></li>
                                                    <li><a href="index.html" class="fa-youtube"></a></li>
                                                </ul>
                                            </div>
                                        </div><a href="https://wallet.luckyindiangameroom.com/games/launch/terracotawilds" target="_blank" class="btn btn-sm btn-transparent">Spin Now</a>
                                    </div>
                                </div>
                            </div>
                            <div data-filter="soccer" class="col-xs-12 col-sm-6">
                                <div class="blog-post blog-post-variant-2">
                                    <img src="/Content/images/index-22a.jpg" alt="" /><a href="https://wallet.luckyindiangameroom.com/games/launch/surprising7" target="_blank" class="tag bg-mandy">play</a>
                                    <div class="post-body">
                                        <div class="post-title"><a href="https://wallet.luckyindiangameroom.com/games/launch/surprising7" target="_blank" class="h5"></a></div>
                                        <div class="post-meta clearfix">
                                            <p>
                                                <span>Surprising 7's</span>
                                                <time datetime="2016"><a href="http://www.spinomenal.com/Play?token=SlotMachine_Surprising7&langCode=en_US&isDemo=False&HomeUrl=http://www.luckyindiangameroom.com" target="_blank">Practice</a></time>
                                            </p>
                                            <div class="post-share">
                                                <span class="icon icon-primary material-icons-share icon-sm icon-share"></span>
                                                <ul class="list-share">
                                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.luckyindiangameroom.com" target="_blank" class="fa-facebook"></a></li>
                                                    <li><a href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.luckyindiangameroom.com" target="_blank" class="fa-twitter"></a></li>
                                                    <li><a href="https://plus.google.com/share?url=http://www.luckyindiangameroom.com" target="_blank" class="fa-google-plus"></a></li>
                                                    <li><a href="#" class="fa-youtube"></a></li>
                                                </ul>
                                            </div>
                                        </div><a href="https://wallet.luckyindiangameroom.com/games/launch/surprising7" target="_blank" class="btn btn-sm btn-transparent">Spin Now</a>
                                    </div>
                                </div>
                            </div>
                            <div data-filter="soccer" class="col-xs-12 col-sm-6">
                                <div class="blog-post blog-post-variant-2">
                                    <img src="/Content/images/index-31a.jpg" alt="" /><a href="https://wallet.luckyindiangameroom.com/games/launch/santawildhelpers" target="_blank" class="tag bg-mandy">play</a>
                                    <div class="post-body">
                                        <div class="post-title"><a href="https://wallet.luckyindiangameroom.com/games/launch/santawildhelpers" target="_blank" class="h5"></a></div>
                                        <div class="post-meta clearfix">
                                            <p>
                                                <span>Santa's Wild Helpers</span>
                                                <time datetime="2016"><a href="http://www.spinomenal.com/Play?token=SlotMachine_SantaWildHelpers&langCode=en_US&isDemo=False&HomeUrl=http://www.luckyindiangameroom.com" target="_blank">Practice</a></time>
                                            </p>
                                            <div class="post-share">
                                                <span class="icon icon-primary material-icons-share icon-sm icon-share"></span>
                                                <ul class="list-share">
                                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.luckyindiangameroom.com" target="_blank" class="fa-facebook"></a></li>
                                                    <li><a href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.luckyindiangameroom.com" target="_blank" class="fa-twitter"></a></li>
                                                    <li><a href="https://plus.google.com/share?url=http://www.luckyindiangameroom.com" target="_blank" class="fa-google-plus"></a></li>
                                                    <li><a href="#" class="fa-youtube"></a></li>
                                                </ul>
                                            </div>
                                        </div><a href="https://wallet.luckyindiangameroom.com/games/launch/santawildhelpers" target="_blank" class="btn btn-sm btn-transparent">Spin Now</a>
                                    </div>
                                </div>
                            </div>
                            <div data-filter="soccer" class="col-xs-12 col-sm-6">
                                <div class="blog-post blog-post-variant-2">
                                    <img src="/Content/images/index-30a.jpg" alt="" /><a href="https://wallet.luckyindiangameroom.com/games/launch/explodingpirates" target="_blank" class="tag bg-mandy">play</a>
                                    <div class="post-body">
                                        <div class="post-title"><a href="https://wallet.luckyindiangameroom.com/games/launch/explodingpirates" target="_blank" class="h5"></a></div>
                                        <div class="post-meta clearfix">
                                            <p>
                                                <span>Exploding Pirates</span>
                                                <time datetime="2016"><a href="http://www.spinomenal.com/Play?token=SlotMachine_ExplodingPirates&langCode=en_US&isDemo=False&HomeUrl=http://www.luckyindiangameroom.com" target="_blank">Practice</a></time>
                                            </p>
                                            <div class="post-share">
                                                <span class="icon icon-primary material-icons-share icon-sm icon-share"></span>
                                                <ul class="list-share">
                                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.luckyindiangameroom.com" target="_blank" class="fa-facebook"></a></li>
                                                    <li><a href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.luckyindiangameroom.com" target="_blank" class="fa-twitter"></a></li>
                                                    <li><a href="https://plus.google.com/share?url=http://www.luckyindiangameroom.com" target="_blank" class="fa-google-plus"></a></li>
                                                    <li><a href="#" class="fa-youtube"></a></li>
                                                </ul>
                                            </div>
                                        </div><a href="https://wallet.luckyindiangameroom.com/games/launch/explodingpirates" target="_blank" class="btn btn-sm btn-transparent">Spin Now</a>
                                    </div>
                                </div>
                            </div>
                            <div data-filter="basketball" class="col-xs-12 col-sm-6">
                                <div class="blog-post blog-post-variant-2">
                                    <img src="/Content/images/9a.jpg" alt="" class="img-width-auto" /><a href="https://wallet.luckyindiangameroom.com/games/launch/egyptianrebirth" target="_blank" class="tag bg-mandy">play</a>
                                    <div class="post-body">
                                        <div class="post-title"><a href="https://wallet.luckyindiangameroom.com/games/launch/egyptianrebirth" target="_blank" class="h5"></a></div>
                                        <div class="post-meta clearfix">
                                            <p>
                                                <span>Egyptian Rebirth</span>
                                                <time datetime="2016"><a href="http://www.spinomenal.com/Play?token=SlotMachine_EgyptianBirth&langCode=en_US&isDemo=False&HomeUrl=http://www.luckyindiangameroom.com" target="_blank">Practice</a></time>
                                            </p>
                                            <div class="post-share">
                                                <span class="icon icon-primary material-icons-share icon-sm icon-share"></span>
                                                <ul class="list-share">
                                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.luckyindiangameroom.com" target="_blank" class="fa-facebook"></a></li>
                                                    <li><a href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.luckyindiangameroom.com" target="_blank" class="fa-twitter"></a></li>
                                                    <li><a href="https://plus.google.com/share?url=http://www.luckyindiangameroom.com" target="_blank" class="fa-google-plus"></a></li>
                                                    <li><a href="#" class="fa-youtube"></a></li>
                                                </ul>
                                            </div>
                                        </div><a href="https://wallet.luckyindiangameroom.com/games/launch/egyptianrebirth" target="_blank" class="btn btn-sm btn-transparent">Play Now</a>
                                    </div>
                                </div>
                            </div>
                            <div data-filter="basketball" class="col-xs-12 col-sm-6">
                                <div class="blog-post blog-post-variant-2">
                                    <img src="/Content/images/10a.jpg" alt="" class="img-width-auto" /><a href="https://wallet.luckyindiangameroom.com/games/launch/zombieslotmania" target="_blank" class="tag bg-mandy">play</a>
                                    <div class="post-body">
                                        <div class="post-title"><a href="https://wallet.luckyindiangameroom.com/games/launch/zombieslotmania" target="_blank" class="h5"></a></div>
                                        <div class="post-meta clearfix">
                                            <p>
                                                <span>Zombie Slot Mania</span>
                                                <time datetime="2016"><a href="http://www.spinomenal.com/Play?token=SlotMachine_ZombieSlotMania&langCode=en_US&isDemo=False&HomeUrl=http://www.luckyindiangameroom.com" target="_blank">Practice</a></time>
                                            </p>
                                            <div class="post-share">
                                                <span class="icon icon-primary material-icons-share icon-sm icon-share"></span>
                                                <ul class="list-share">
                                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.luckyindiangameroom.com" target="_blank" class="fa-facebook"></a></li>
                                                    <li><a href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.luckyindiangameroom.com" target="_blank" class="fa-twitter"></a></li>
                                                    <li><a href="https://plus.google.com/share?url=http://www.luckyindiangameroom.com" target="_blank" class="fa-google-plus"></a></li>
                                                    <li><a href="#" class="fa-youtube"></a></li>
                                                </ul>
                                            </div>
                                        </div><a href="https://wallet.luckyindiangameroom.com/games/launch/zombieslotmania" target="_blank" class="btn btn-sm btn-transparent">Play Now</a>
                                    </div>
                                </div>
                            </div>
                            <div data-filter="basketball" class="col-xs-12 col-sm-6">
                                <div class="blog-post blog-post-variant-2">
                                    <img src="/Content/images/40a.jpg" alt="" class="img-width-auto" /><a href="https://wallet.luckyindiangameroom.com/games/launch/luckyminers" target="_blank" class="tag bg-mandy">play</a>
                                    <div class="post-body">
                                        <div class="post-title"><a href="https://wallet.luckyindiangameroom.com/games/launch/luckyminers" target="_blank" class="h5"></a></div>
                                        <div class="post-meta clearfix">
                                            <p>
                                                <span>Lucky Miners</span>
                                                <time datetime="2016"><a href="http://www.spinomenal.com/Play?token=SlotMachine_LuckyMinors&langCode=en_US&isDemo=False&HomeUrl=http://www.luckyindiangameroom.com" target="_blank">Practice</a></time>
                                            </p>
                                            <div class="post-share">
                                                <span class="icon icon-primary material-icons-share icon-sm icon-share"></span>
                                                <ul class="list-share">
                                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.luckyindiangameroom.com" target="_blank" class="fa-facebook"></a></li>
                                                    <li><a href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.luckyindiangameroom.com" target="_blank" class="fa-twitter"></a></li>
                                                    <li><a href="https://plus.google.com/share?url=http://www.luckyindiangameroom.com" target="_blank" class="fa-google-plus"></a></li>
                                                    <li><a href="#" class="fa-youtube"></a></li>
                                                </ul>
                                            </div>
                                        </div><a href="https://wallet.luckyindiangameroom.com/games/launch/luckyminers" target="_blank" class="btn btn-sm btn-transparent">Play Now</a>
                                    </div>
                                </div>
                            </div>
                            <div data-filter="basketball" class="col-xs-12 col-sm-6">
                                <div class="blog-post blog-post-variant-2">
                                    <img src="/Content/images/41a.jpg" alt="" class="img-width-auto" /><a href="https://wallet.luckyindiangameroom.com/games/launch/irishcharms" target="_blank" class="tag bg-mandy">play</a>
                                    <div class="post-body">
                                        <div class="post-title"><a href="https://wallet.luckyindiangameroom.com/games/launch/irishcharms" target="_blank" class="h5"></a></div>
                                        <div class="post-meta clearfix">
                                            <p>
                                                <span>Irish Charms</span>
                                                <time datetime="2016"><a href="http://www.spinomenal.com/Play?token=SlotMachine_IrishCharms&langCode=en_US&isDemo=False&HomeUrl=http://www.luckyindiangameroom.com" target="_blank">Practice</a></time>
                                            </p>
                                            <div class="post-share">
                                                <span class="icon icon-primary material-icons-share icon-sm icon-share"></span>
                                                <ul class="list-share">
                                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.luckyindiangameroom.com" target="_blank" class="fa-facebook"></a></li>
                                                    <li><a href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.luckyindiangameroom.com" target="_blank" class="fa-twitter"></a></li>
                                                    <li><a href="https://plus.google.com/share?url=http://www.luckyindiangameroom.com" target="_blank" class="fa-google-plus"></a></li>
                                                    <li><a href="#" class="fa-youtube"></a></li>
                                                </ul>
                                            </div>
                                        </div><a href="https://wallet.luckyindiangameroom.com/games/launch/irishcharms" target="_blank" class="btn btn-sm btn-transparent">Play Now</a>
                                    </div>
                                </div>
                            </div>
                            <div data-filter="baseball" class="col-xs-12 col-sm-6">
                                <div class="blog-post blog-post-variant-2">
                                    <img src="/Content/images/18a.jpg" alt="" class="img-width-auto" /><a href="https://wallet.luckyindiangameroom.com/games/launch/bikersgang" target="_blank" class="tag bg-mandy">play</a>
                                    <div class="post-body">
                                        <div class="post-title"><a href="https://wallet.luckyindiangameroom.com/games/launch/bikersgang" target="_blank" class="h5"></a></div>
                                        <div class="post-meta clearfix">
                                            <p>
                                                <span>Biker's Gang</span>
                                                <time datetime="2016"><a href="http://www.spinomenal.com/Play?token=SlotMachine_BikersGang&langCode=en_US&isDemo=False&HomeUrl=http://www.luckyindiangameroom.com" target="_blank">Practice</a></time>
                                            </p>
                                            <div class="post-share">
                                                <span class="icon icon-primary material-icons-share icon-sm icon-share"></span>
                                                <ul class="list-share">
                                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.luckyindiangameroom.com" target="_blank" class="fa-facebook"></a></li>
                                                    <li><a href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.luckyindiangameroom.com" target="_blank" class="fa-twitter"></a></li>
                                                    <li><a href="https://plus.google.com/share?url=http://www.luckyindiangameroom.com" target="_blank" class="fa-google-plus"></a></li>
                                                    <li><a href="#" class="fa-youtube"></a></li>
                                                </ul>
                                            </div>
                                        </div><a href="https://wallet.luckyindiangameroom.com/games/launch/bikersgang" target="_blank" class="btn btn-sm btn-transparent">Play Now</a>
                                    </div>
                                </div>
                            </div>
                            <div data-filter="baseball" class="col-xs-12 col-sm-6">
                                <div class="blog-post blog-post-variant-2">
                                    <img src="/Content/images/18b.jpg" alt="" class="img-width-auto" /><a href="https://wallet.luckyindiangameroom.com/games/launch/shogunbots" target="_blank" class="tag bg-mandy">play</a>
                                    <div class="post-body">
                                        <div class="post-title"><a href="https://wallet.luckyindiangameroom.com/games/launch/shogunbots" target="_blank" class="h5"></a></div>
                                        <div class="post-meta clearfix">
                                            <p>
                                                <span>Shogun Bots</span>
                                                <time datetime="2016"><a href="http://www.spinomenal.com/Play?token=SlotMachine_ShogunBots&langCode=en_US&isDemo=False&HomeUrl=http://www.luckyindiangameroom.com" target="_blank">Practice</a></time>
                                            </p>
                                            <div class="post-share">
                                                <span class="icon icon-primary material-icons-share icon-sm icon-share"></span>
                                                <ul class="list-share">
                                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.luckyindiangameroom.com" target="_blank" class="fa-facebook"></a></li>
                                                    <li><a href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.luckyindiangameroom.com" target="_blank" class="fa-twitter"></a></li>
                                                    <li><a href="https://plus.google.com/share?url=http://www.luckyindiangameroom.com" target="_blank" class="fa-google-plus"></a></li>
                                                    <li><a href="#" class="fa-youtube"></a></li>
                                                </ul>
                                            </div>
                                        </div><a href="https://wallet.luckyindiangameroom.com/games/launch/shogunbots" class="btn btn-sm btn-transparent" target="_blank">Play Now</a>
                                    </div>
                                </div>
                            </div>
                            <div data-filter="baseball" class="col-xs-12 col-sm-6">
                                <div class="blog-post blog-post-variant-2">
                                    <img src="/Content/images/50a.jpg" alt="" class="img-width-auto" /><a href="https://wallet.luckyindiangameroom.com/games/launch/gangsterslots" target="_blank" class="tag bg-mandy">play</a>
                                    <div class="post-body">
                                        <div class="post-title"><a href="https://wallet.luckyindiangameroom.com/games/launch/gangsterslots" target="_blank" class="h5"></a></div>
                                        <div class="post-meta clearfix">
                                            <p>
                                                <span>Gangster's Slot</span>
                                                <time datetime="2016"><a href="http://www.spinomenal.com/Play?token=SlotMachine_GangsterSlots&langCode=en_US&isDemo=False&HomeUrl=http://www.luckyindiangameroom.com" target="_blank">Practice</a></time>
                                            </p>
                                            <div class="post-share">
                                                <span class="icon icon-primary material-icons-share icon-sm icon-share"></span>
                                                <ul class="list-share">
                                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.luckyindiangameroom.com" target="_blank" class="fa-facebook"></a></li>
                                                    <li><a href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.luckyindiangameroom.com" target="_blank" class="fa-twitter"></a></li>
                                                    <li><a href="https://plus.google.com/share?url=http://www.luckyindiangameroom.com" target="_blank" class="fa-google-plus"></a></li>
                                                    <li><a href="#" class="fa-youtube"></a></li>
                                                </ul>
                                            </div>
                                        </div><a href="https://wallet.luckyindiangameroom.com/games/launch/gangsterslots" class="btn btn-sm btn-transparent" target="_blank">Play Now</a>
                                    </div>
                                </div>
                            </div>
                            <div data-filter="baseball" class="col-xs-12 col-sm-6">
                                <div class="blog-post blog-post-variant-2">
                                    <img src="/Content/images/51a.jpg" alt="" class="img-width-auto" /><a href="https://wallet.luckyindiangameroom.com/games/launch/ironassassins" target="_blank" class="tag bg-mandy">play</a>
                                    <div class="post-body">
                                        <div class="post-title"><a href="https://wallet.luckyindiangameroom.com/games/launch/ironassassins" target="_blank" class="h5"></a></div>
                                        <div class="post-meta clearfix">
                                            <p>
                                                <span>Iron Assassins</span>
                                                <time datetime="2016"><a href="http://www.spinomenal.com/Play?token=SlotMachine_IronAssassins&langCode=en_US&isDemo=False&HomeUrl=http://www.luckyindiangameroom.com" target="_blank">Practice</a></time>
                                            </p>
                                            <div class="post-share">
                                                <span class="icon icon-primary material-icons-share icon-sm icon-share"></span>
                                                <ul class="list-share">
                                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.luckyindiangameroom.com" target="_blank" class="fa-facebook"></a></li>
                                                    <li><a href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.luckyindiangameroom.com" target="_blank" class="fa-twitter"></a></li>
                                                    <li><a href="https://plus.google.com/share?url=http://www.luckyindiangameroom.com" target="_blank" class="fa-google-plus"></a></li>
                                                    <li><a href="#" class="fa-youtube"></a></li>
                                                </ul>
                                            </div>
                                        </div><a href="https://wallet.luckyindiangameroom.com/games/launch/ironassassins" target="_blank" class="btn btn-sm btn-transparent">Play Now</a>
                                    </div>
                                </div>
                            </div>

                    </section>
                    <!--Section More News-->
                    <section>
                        <h4></h4>

                        <div class="col-xs-12">
                            <div class="blog-post-variant-4">

                                <div class="col-xs-12">
                                    <div class="blog-post-variant-4">

                                        <div class="col-xs-12">
                                            <div class="blog-post-variant-4">

                                                <div class="col-xs-12">
                                                    <div class="blog-post-variant-4">

                                                        <d
                                                    </div>
                                                </div>
                    </section>
                    <!--Section More News-->
                    <section>
                        <h4></h4>

                        <div class="col-xs-12">
                            <div class="blog-post-variant-4">

                                <div class="col-xs-12">
                                    <div class="blog-post-variant-4">

                                        <div class="col-xs-12">
                                            <div class="blog-post-variant-4">

                                                <div class="col-xs-12">
                                                    <div class="blog-post-variant-4">

                                                        <d
                                                    </div>
                                                </div>
                    </section>
                </div>

                <!--Section Sidebar-->
                <div class="col-xs-12 col-lg-4">
                    <div class="sidebar display-3">
                        <div class="sidebar-module">
                            <div class="border-mandy">
                                <div class="blog-post-variant-3">
                                    <div class="post-img"><img src="/Content/images/sidebar-casino.jpg" alt="" /></div>
                                    <div class="post-body bg-dark">
                                        <div class="post-body-inside bg-dark">
                                            <div class="post-title">
                                                <h6><a href="@Url.Action("Casino", "Kiosk")" class="text-uppercase">Click to play all of our casino games</a></h6>
                                            </div><a href="@Url.Action("Casino", "Kiosk")" class="btn btn-icon-sm btn-transparent"></a>
                                        </div>
                                    </div>
                                </div>
                                <h4>follow us</h4>
                                <div class="wrap border-mandy">
                                    <h5>See our Latest Promos</h5>
                                    <p>Be up-to-date with our newest promotions via Facebook, Twitter & more!</p>
                                    <ul class="list-inline-variant-1">
                                        <li><a href="#" class="fa-facebook"></a></li>
                                        <li><a href="#" class="fa-twitter"></a></li>
                                        <li><a href="#" class="fa-google-plus"></a></li>
                                        <li><a href="#" class="fa-youtube"></a></li>
                                    </ul>
                                </div>
                                <div class="wrap bg-gray">
                                    <h5>View Winning Numbers</h5>
                                    <p>Looking for the latest winning numbers? Click below to see up to the minute updates for all lottery houses, Cash 5, Pick 10, and VAG drawings! </p>
                                    <!-- Rd Mailform result field-->
                                    <div class="rd-mailform-validate"></div>
                                    <br>
                                    <a href="@Url.Action("WinningNumbers", "Kiosk")" class="btn btn-sm btn-primary full-width">Winning Numbers</a>

                                </div>


                            </div>
                        </div>
                    </div>

    </section>
</main>


@section AdditionalFooterScripts
{
}

