@{
    ViewBag.Title = "Forgot Password";
}
<main class="page-content">
    @Html.Hidden("Login", @Url.Action("login", "Account"))
    @Html.Hidden("lobby", @Url.Action("lobby", "home"))
    @Html.Hidden("APIURL", @System.Configuration.ConfigurationManager.AppSettings["APIUrl"])
    <section>
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="~/">home</a></li>
                <li class="active">forgot password</li>
            </ol>
        </div>
    </section>

    <!--Section 404-->
    <section class="section-bottom-50">

        <div class="container">
            <h4>retreive password below</h4>
            <dl class="terms-list wrap border-primary">
                <form id="forgot-password">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control input-sm" placeholder="First Name" id="firstname" />
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control input-sm" placeholder="Last Name" id="lastname" />
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control input-sm" placeholder="Email" id="email" />
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <div class="form-group has-feedback">
                                <span class="forgot-password-info"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10"><input type="submit" class="btn btn-sm btn-primary btn-block btnforgotpassword" onclick="event.preventDefault();" /></div>
                        <div class="col-lg-1"></div>
                    </div>
                </form>
            </dl>
        </div>
    </section>

</main>

@section AdditionalFooterScripts
{
    <script src="~/Scripts/js/forgot-password.js"></script>
}

