@model Guid
@{
    ViewBag.Title = "Password Reset";
}
<main class="page-content">
    @Html.Hidden("Login", @Url.Action("login", "Account"))
    @Html.Hidden("lobby", @Url.Action("lobby", "home"))
    @Html.Hidden("APIURL", @System.Configuration.ConfigurationManager.AppSettings["APIUrl"])
    <!--Section 404-->
    <section class="section-bottom-50">

        <div class="container">
            <h4>reset password below</h4>
            <dl class="terms-list wrap border-primary">
                <div class="reset-password-form">
                    <div class="row">
                        <form onsubmit="return false;">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" class="form-control reset-username" placeholder="Username" required>
                                    <input type="hidden" class="form-control reset-key" value="@Model" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control new-password" placeholder="New Password" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control confirm-password" placeholder="Confirm Password" data-match=".new-password" data-match-error="Passwords do not match" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-reset">Reset Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

    </section>

</main>

@section AdditionalFooterScripts
{
    <script src="~/Scripts/js/reset-password.js"></script>
}