<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
<head>
    <!-- Site Title-->
    <title>@ViewBag.Title</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <link rel="icon" href="~/Content/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CRoboto:300,400italic,400,500">
    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <link rel="stylesheet" href="~/Content/css/common.css">
    <link rel="stylesheet" href="~/Content/css/hover-min.css">
    <link rel="stylesheet" href="~/Content/css/index.css">
    <link rel="stylesheet" href="~/Content/mobilecss/layer.css">

    @RenderSection("AdditionalHeaderScripts", false)

</head>
<body>

    <!-- Page-->
    <div>
        <!-- Page Header-->
        <div id="header" class="header">
           
            <div id="navigation" class="navigation">
                <div class="content navc">
                    <a id="homebutton" href="~/" runat="server" class="@(ViewContext.RouteData.Values["action"].ToString().ToLower()=="index" ?"activeselected":"") nav first">HOME<span class="hr"></span></a>
                    
                </div>

            </div>
        </div>




        <!-- Page Content-->
        <div class="container index">
            @RenderBody()
        </div>
        <!-- Page Footer-->
        <div id="footer18" class="footer18">
            <p class="copyright"><a href="/PlayerPortal/" class="brand-name"><span class="text-bold">T&amp;D</span><span>entertainment</span></a> © 2018. All Rights Reserved.</p>
        </div>

        <!-- login popup-->
        <div class="pop-wrap-mask" style="display:none">

            <div class="popup pop-login" style="display:block">
                <div class="pop-head">
                    Login
                    <a href="javascript:closePop();" class="pop-close pop-icons"></a>
                </div>
                <div class="pop-content">
                    <form>
                        <div class="error-message">
                            <i class="icon-error pop-icons"></i>
                            <p><span id="loginerror"> </span></p>
                        </div>
                        <div class="form-group">
                            <span class="pop-icons icon-user"></span>
                            <span class="line"></span>
                            <input type="text" name="uname" id="uname" pwd="uname" class="form-input" placeholder="Card Number" />
                        </div>
                        <div class="form-group">
                            <span class="pop-icons icon-password"></span>
                            <span class="line"></span>
                            <input name="pwd" maxlength="16" id="pwd" type="password" autocomplete="off" value="" class="form-input pwd" placeholder="PIN">
                            <a href="#" class="eyes"></a>
                        </div>

                        <a href="javascript:login();" class="pop-btn" id="login_btn">LOGIN</a>
                    </form>
                </div>
            </div>
        </div>

        <!-- top button-->
        <div id="totop2" class="top-btn">

            <a href="#top" class="top-btn3">
                <span class="top-icon">
                    <span class="icon3"></span>
                </span>
            </a>
        </div>

    </div>
    <!-- Java script-->
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js" charset="utf-8"></script>
    @*<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js" charset="utf-8"></script>*@

    <script type="text/javascript" src="~/Scripts/jquery.cycle2.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/Scripts/jquery.cycle2.carousel.js" charset="utf-8"></script>
    
    <script type="text/javascript" src="~/Scripts/mobilejs/layer.js" charset="utf-8"></script>
    <script src="~/Scripts/js/jstorage.js"></script>
    <script src="~/Scripts/js/lottery.js"></script>
    <script src="~/Scripts/js/wallet.js"></script>
    <script src="~/Scripts/js/globals.js"></script>
    
    <script src="~/Scripts/js/Games.js"></script>
    <script src="~/Scripts/js/Casino.js"></script>
    
    <script src="~/Scripts/js/accountmanagement.js"></script>


    @RenderSection("AdditionalFooterScripts", false)
</body>
</html>